<div class="user">
      <%= image_tag 'user-profile.png',
            alt: 'user',
            class: 'userImg' %>
    <%= link_to ({:action => 'show', :id => user.id}) do %>
    <div class="dataContainer">
      <h2>
        <%= user.name%>
      </h2>
      <p>
        Number of posts <%= user.post_counter%>
      </p>
    </div>
    <% end %>
</div>