// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post {
  border: black 1px solid;
  border-radius: 20px;
  padding: 2em;

  div {
    padding: 0;
  }
}

ul {
  .post {
    div {
      padding: 0;
    }
  }

  .comments {
    border: black 1px solid;
    border-radius: 20px;
    padding: 2em;
    width: 100%;
  }
}

.commentsLikes {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: flex-end;

  .like-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .button_to {
      input {
        border: none;
        background: transparent;
        transform: scale(1);
        transition: all 0.1s ease-in-out;
        border-radius: 20px;
      }

      &:hover {
        transition: all 0.1s ease-in-out;
        transform: scale(1.1);
        background-color: antiquewhite;
      }

      &:active {
        transition: all 0.1s ease-in-out;
        transform: scale(0.8);
        background-color: grey;
      }
    }
  }
}

.postsList {
  a {
    color: inherit;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    display: contents;
  }
}
