// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post {
  border: black 1px solid;
  border-radius: 20px;
  padding: 2em;

  div {
    padding: 0;
  }
}

ul {
  .post {
    div {
      padding: 0;
    }
  }

  .comments {
    border: black 1px solid;
    border-radius: 20px;
    padding: 2em;
    width: 100%;
  }
}

.commentsLikes {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: flex-end;
}

.postsList {
  a {
    width: 100%;
    text-decoration: none;
    color: inherit;
  }
}
