// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
  text-align: center;
  margin: 2em;
}

.listContainer {
  list-style: none;
}

.user {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 1em;
  gap: 2em;
  justify-content: center;
  align-items: center;

  a {
    color: inherit;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    display: contents;
  }

  .dataContainer {
    width: 50rem;
    border: black 1px solid;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;

    h2 {
      font-size: 2rem;
      padding: 2em;
      align-self: center;
    }

    p {
      padding: 2em;
      align-self: end;
      text-align: end;
    }
  }
}

.bio {
  border: black 1px solid;
  border-radius: 20px;
  padding: 2em;
  width: 100%;
}

.postsList {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style: none;
  margin: 0;
  width: 70%;
  padding: 2em;
  align-items: center;
  justify-content: center;

  .post {
    border: black 1px solid;
    border-radius: 20px;
    padding: 2em;
    width: 100%;
  }
}

.showView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
